.main-nav {
  /* add a blur effect to the background */
  background: rgba(0, 0, 0, 0.35);
}

.main-nav li {
  color: #fff;
  padding: 5px 9px;
  border-radius: 20px;
}

.main-nav li:hover {

  font-weight: 500;

}
